<h1>TeePublic + Cloudinary = <3</h1>

<%= render 'options' %>
<%= cl_image_tag(@item.filename) %>
<%= cl_image_tag(@graphic.filename, :width => @size, :height => @size, :crop => :fit) %>

<%= link_to "Womens-Tee", root_path(item_type: "Womens-Tee-Asphalt.png") %>
<%= link_to "iPhone 7 Plus", root_path(item_type: "iphone-7-plus.png") %>
<%= link_to "Max-Width 600", root_path(art_size: "600") %>
